<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/style/app.css" media="screen" title="no title" charset="utf-8">
    <title>Crowdsource</title>
  </head>
  <body>
    <div class="container center">
      <div class="row">
        <div class="col s6 offset-s3">
          <h3>name: <%= poll.name %></h3>
          <h5>description: <%= poll.description %></h5>
          <h3>voter link: </h3><a href="<%= voter %><%= hash %>"><%= voter %><%= hash %></a>
          <h3>admin link: </h3><a href="<%= admin %><%= hash %>"><%= admin %><%= hash %></a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
