<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/style/app.css" media="screen" title="no title" charset="utf-8">
    <title>Crowdsource</title>
  </head>
  <body>
    <div class="container">
      <div class="center">
        <h3>Poll Name: <%= poll.poll.name %></h3>
        <h5>Poll Description: <%= poll.poll.description %></h5>
        <h3 id="prompt">Place your Vote!</h3>
        <div id="choices">
          <% poll.poll.answers.forEach(function(answer, index){ %>
            <button id=<%= index + 1 %> class="btn blue"><%= answer.answer %></button>
          <% }) %>
        </div>
        <div class="row">
          <div class="col s6 offset-s3">
            <h5 id="your-vote" class="top-margin">Your Vote: </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container center">
      <div class="row">
        <div class="col s6 offset-s3">
          <h3>Poll Name: <%= poll.poll.name %></h3>
          <h5>Poll Description: <%= poll.poll.description %></h5>
          <div id="vote-count" class="center">
            <h3>Vote Count</h3>
            <table class="bordered highlight centered center">
              <thead>
                <tr>
                  <% poll.poll.answers.forEach(function(answer){ %>
                    <td><%= answer.answer %></td>
                  <% }) %>
                </tr>
              </thead>
              <tbody>
                <tr class="red-text">
                  <% poll.poll.answers.forEach(function(answer, index){ %>
                    <td id="td-<%= index + 1 %>"><%= answer.count %></td>
                  <% }) %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/live-poll.js"></script>
  </body>
</html>
